@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* ### Primary */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    /* ### Neutral */
    --Dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: chartreuse;
    background-color: var(--Dark-cyan);
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding-block: 2rem;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: bottom 50vh right 50vw, top 40vh left 50vw;
    background-repeat: no-repeat;
}

main {
    margin-bottom: 3rem;
    position: relative;
    overflow: auto;
}

/* body::before {
    content: url(images/bg-pattern-top.svg);
    position: absolute;
    inset: auto 0 0 auto;
    z-index: -1;
    transform: translate(-40%, -30%);
}

body::after {
    content: url(images/bg-pattern-bottom.svg);
    position: absolute;
    inset: 0 auto auto 0;
    z-index: -1;
    transform: translate(40%, 30%);
} */
.card {
    background-color: white;
    max-width: 18rem;
    border-radius: .6rem;
    overflow: hidden;
}

.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.card-background {
    display: block;
    width: 100%;
    object-fit: cover;
}

.card-avatar {
    margin-top: -50%;
    border-radius: 50%;
    border: .3rem solid white;
}

.card-title {
    font-size: 1rem;
    color: var(--Very-dark-desaturated-blue);
}

.card-title span {
    color: var(--Dark-gray);
    font-weight: 400;
    margin-left: .5rem;
}

.position {
    color: var(--Dark-gray);
    font-size: .9rem;
}

.card-bottom {
    border-top: 1px solid rgba(106, 111, 129, 0.2);
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

.stats .wrapper {
    text-align: center;
}

.stats dt {
    font-size: 1rem;
    font-weight: 700;
}

.stats dd {
    color: var(--Dark-gray);
    font-size: .7rem;
    margin: .2rem 0 0 0;
}